@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav {
	width: 100%;
	height: 80px;
	Line-height: 80px;
	padding: 1px;
	position: fixed;
	background-image: linear-gradient(to right, green, yellow);
}

nav .logo p {
	font-size: 30px;
	font-weight: bold;
	float: left;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	cursor: pointer;
}

nav ul {
	float: right
}

nav li {
	display: inline-block;
	list-style: none;
}

nav li a {
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 30px;
	color: white;
}

nav li a:hover {
	color: #69e3ff;
}


body {
	background-image:
		url("https://wallpaperaccess.com/full/5943817.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
}
.container{
	background-color:white;
	padding:10px;
	margin:20px;
}
.container::after{
	content:"";
	clear:both;
	display:table;
}
.container img{
	float: left;
	margin-right: 20px;
	border-radius: 50%;
	width:55px;
}

.container span{
	font-size: 15px;
	margin-right: 15px;
}
.container p{
	font-size: 15px;
	margin-right: 15px;
}
@media(max-width: 500px){
	.container{
	text-align: center;
	}
	.container img{
	margin: auto;
	float: none;
	display: block;
	}
	
}
.grid{
	 padding-top:200px;
	 margin-left: 143px;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	}
.dept{
	padding-top:10px;

	}
	.content{
	background-color:white;
	padding:10px;
	margin:20px;
	}
	.img{
	padding-bottom: 10px;
	}